@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,600i,700,700i,900');
/*font-family: 'Source Sans Pro', sans-serif;*/
body{
  padding:0;
  margin:0;
  background:#fff;
  position:relative;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}
body a{
    transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}

input[type="button"],input[type="submit"],.contact-form input[type="submit"]{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}

ul{
    margin:0;
    padding:0;
}
label{
    margin:0;
}
p, a{
  margin:0;
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin: 0px;
}

ul{
  padding: 0px;
  margin: 0px;
}
ul li{
  list-style: none;
}
a{
  color: #3f3f3f;
}
a:hover{
  color: #3f3f3f;
  text-decoration: none;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(69, 185, 124);
}


/*----------------------------------------------------------
  Menubar Start
-----------------------------------------------------------*/
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: #ffffff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #c3c3c3;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 0;
    background: rgb(54, 156, 169);
    border-radius: 0px;
}
/*.fixed-me {
    transition: all 1s;
    background-color: #5ac0d6;
    padding: 0px;
    position: fixed!important;
    top: 0;
    z-index: 888;
    width: 100%;
    border-bottom: 0;
}*/
.navbar-me {
   transition: all 1s ;
}
.fixed-me.navbar-me .navbar-nav>li>a{
  color: #fff;
}

.navbar-nav>li {
    float: unset;
    display: inline-block;
}
.navbar-me .navbar-nav {
    float: unset;
    margin: 0;
    text-align: center;
}
/*.fixed-me.navbar-me .navbar-nav>li.active a{
  color: #000!important;
}*/
.navbar-default .navbar-nav>li>a, .navbar-brand {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
}
.navbar-me .navbar-nav>li.active a{
  background-color: #000!important;
  color: #fff;
}
.navbar-form{
  margin: 0px;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}
.hirihg {
    color: #fff!important;
    background: #0099e5;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 9px 10px!important;
    border-radius: 5px;
    margin-left: 10px
}
.hirihg:focus, .hirihg:hover {
    color: #ffffff;
    background-color: #0099e5!important;
}

.login-signup {
    color: #000!important;
    background: #ffffff;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 9px 10px!important;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-left: 10px
}
.navbar-default .navbar-brand {
    line-height: 55px;
    padding: 0px;
    color: #fff;
    font-size: 35px;
}


/*----------------------------------------------------------
  Menubar End
-----------------------------------------------------------*/

.heading-1{
  font-size: 40px;
  margin-bottom: 15px;
  color: #5ac0d6;
}
.top-header {
    height: auto;
    padding: 5px 0;
}
.top-header .left h1{
  font-size: 42px;
  padding-top: 15px;
  color: #26c0df;
}
.top-header img{
  width: 150px;
}
.top-header .middle h2{
  font-size: 36px;
  padding-top: 20px;
}
.about{
  padding: 40px 0px;
}
.banner {
  background-image: url(../images/banner-5-2.jpg);
  min-height: 350px;
  padding-bottom: 30px;
}
.banner img{
  margin: auto;
}

.banner .left .inner-left{
  position: relative;
}

.name-plates{
  background-color: #f7f7f7;
}
.forms-div {
    width: 70%;
    min-height: 50px;
    margin: auto;
}
.forms-div select {
    height: 50px;
    width: 85%;
    margin: 150px auto 0;
    display: block;
    border: 2px solid #362f2d;
    padding: 0 15px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
.nxt-prev{
  margin-top: 20px;
}
.nxt-prev .nxt, .nxt-prev .prv{
  padding: 6px 15px;
  text-align: center;
  background-color: #17b1d0;
  border: 0;
  color: #fff;
  font-weight: 600;
  width: 120px;
}
.nxt{
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.prv{
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.nxt-prev .prv{
  float: right;
}
.inner-right {
    background-color: rgba(255, 255, 255, 0.7607843137254902);
    padding: 20px;
    width: 70%;
    margin: 20px auto 30px;
    overflow: auto;
}
.hr1{
  width: 100%;
  height: 1px;
  background-color: #a7a6a6;
  margin: 20px 0px;
}
.amout {
    float: left;
    width: 110px;
    height: 80px;
    border-radius: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    background-color: #17b1d0;
    margin: 25px auto 0;
    display: block;
    color: #fff;
    line-height: 80px;
    box-shadow: 2px 2px 2px grey;
}
.img-cont{
  width: 77%;
  float: left;
}
#row_dim{
  margin-top: 15px;
  color: #fff;
}
#row_dim p{
  font-size: 18px;
}
.forms-div .price {
    width: 84.5%;
    height: 60px;
    text-align: center;
    background-color: white;
    margin: 25px auto 15px;
}
.forms-div .price{
  line-height: 60px;
  font-size: 30px;
}
.bottom-div {
    height: auto;
    width: 100%;
    background-color: rgba(54, 156, 169, 0.65);
    margin-top: 20px;
    padding: 15px;
    color: #fff;
    overflow: auto;
    border: 1px solid #b7b7b7;
    margin-bottom: 55px;  
}
.bottom-div label{
  font-size: 20px;
  font-weight: 600;
}
.bottom-div input[type="text"]{
  width: 100%;
  height: 35px;
  border: 0;
  border-radius: 0px;
  margin-top: 10px;
}
.bottom-div input{
  text-align: left;
}
.bottom-div .form-control{
  width: auto;
  height: auto;
  display: inline-block;
}
.bottom-div .left-side, .bottom-div .right-side{
  padding: 15px 30px;
}
.right-side img{
  margin-top: 0px;
}
.bottom-div input[type="submit"]{
  height: 35px;
  border: 0;
  border-radius: 0px;
  margin-top: 5px;
  background-color: #000000;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
}



/*----------------------------------------------------------
  Footer Start
-----------------------------------------------------------*/
footer{
  padding: 50px 0px 0px;
  background-color: #05a5c3;
}
footer p{
  color: #fff;
}
.bottom-navigation{
  text-align: center;
  margin-top: 15px;
}
.bottom-navigation li{
  display: inline-block;
  margin: 20px 15px;
}
.bottom-navigation li a{
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
footer h1{
  font-size: 24px;
  color: #d8d8d8;
  margin-bottom: 15px;
}
ul.social li{
  display: inline-block;
  padding-left: 15px;
}
ul.social li .fa{
  font-size: 24px;
  color: #ccc;
}
.copy-right {
    text-align: center;
    padding: 20px 0 15px;
    margin-top: 20px;
    border-top: 1px solid #00839c;
    font-size: 14px;
}
/*----------------------------------------------------------
  Footer End
-----------------------------------------------------------*/



.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    bottom: 15px;
    position: fixed;
    right: 15px;
    text-indent: -999px;
    background: url(http://i66.tinypic.com/6t3jba.png) no-repeat;
    display: none;
    cursor: pointer;
}

.div-1{
  text-align: center;  
}
.div-1 h1{
  margin: 60px auto 10px;
  font-size: 34px;
}
.div-1 p{
    color: #898e95;
    font-size: 20px;
    margin-top: 10px;
}

.contact form input {
    font-weight: 500!important;
    border-radius: 0;
    font-size: 16px;
    border: 0;
    background: #f6f7f8;
    color: #777!important;
    outline: none;
    width: 100%;
    padding: 6px 10px;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}

.contact form textarea {
    font-weight: 500!important;
    border-radius: 0;
    font-size: 16px;
    border: 0;
    background: #f6f7f8;
    color: #777!important;
    outline: none;
    width: 100%;
    min-height: 60px;
    padding: 6px 10px;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}
.contact form button {
  border: 1px solid rgb(54, 156, 169);
  border-radius: 0px;
}

.contact-info-section {
    border-bottom: 1px solid #ececec;
    padding: 25px 0;
    margin-bottom: 0;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
.contact-info-section i {
    width: 60px;
    height: 60px;
    padding-top: 17px;
    border-radius: 50%;
    background: #369ca9;
    color: #fff;
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
}
.contact-info-section h4 {
    color: #111;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contact-info-section p {
    color: #999;
    font-size: 15px;
    font-weight: 400;
}
/* ========== About ========== */
.primary-list li {
    list-style-type: none;
    color: #222;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}
.primary-list li i {
    color: #05a5c3;
    padding-right: 10px;
}
.about-page{
  padding-top: 70px;
}

.login-page, .contact{
  padding: 70px 0px;
}
.login-page img{
  margin: auto;
  display: block;
}



.login-reg-panel{
    position: relative;
    text-align:center;
    width:70%;
    right:0;left:0;
    margin: 100px auto;
    height:400px;
    background-color: #dadada;
}
.register-info-box p, .login-info-box p{
  margin-bottom: 20px;
}
.login-reg-panel h1{
  font-size: 26px;
}
.login-reg-panel h2 {
    color: #000000;
}
.white-panel {
  background-color: rgba(255,255, 255, 1);
  height: 460px;
  position: absolute;
  top: -37px;
  width: 50%;
  right: calc(50% - 50px);
  transition: .3s ease-in-out;
  z-index: 0;
  box-shadow: 0 0 15px 9px #00000096;
}   
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login, .login-reg-panel #label-register {
    color: #369ca9;
    border: 1px solid #369ca9;
    padding: 5px 5px;
    width: 150px;
    display: block;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}
.login-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    left:0;
    position:absolute;
    text-align:left;
    color: #ffffff;
}
.register-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    right:0;
    position:absolute;
    text-align:left;
    color: #ffffff;
}
.right-log{right:50px !important;}

.login-show, 
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding: 20px 30px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="password"] {
    width: 100%;
    display: block;
    margin: 20px 0;
    padding: 8px 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #369ca9;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.login-show a{
    display:inline-block;
    padding:10px 0;
}

.register-show input[type="text"], .register-show input[type="email"], .register-show input[type="password"]{
    width: 100%;
    display: block;
    margin: 10px 0;
    padding: 8px 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.register-show textarea {
    min-height: 60px;
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 10px;
}
.register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #369ca9;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}
/* ========== //About ========== */


@media (max-width: 767px){
  .forms-div, .inner-right, .img-cont{
    width: 100%;
  }
  .heading-1 {
      font-size: 26px;
      margin-bottom: 8px;
  }
  .about{
    padding: 20px 0px;
  }
  .top-header .left h1 {
    font-size: 24px;
    padding-top: 0;
    text-align: center;
    line-height: 50px;
  }
  .top-header {
      height: 45px;
      display: none;
  }
  .navbar-header{
    position: relative;
    z-index: 999;
  }
  .res-padding-0{
    padding: 0px;
  }
  .navbar-me .navbar-nav {
      float: left;
      width: 100%
  }
  .navbar-me .navbar-nav>li {
    float: unset;
    display: block;
  }
  .banner {
    height: height;
  }
  .banner .left .inner-left {
    padding-top: 50px;
  }
  .forms-div .price {
    line-height: 50px;
    font-size: 26px;
  }
  .forms-div .price {
    width: 100%;
    height: 50px;
  }
  .bottom-div .left-side, .bottom-div .right-side {
      padding: 0px 0px;
  }
  .right-side img {
    margin-top: 20px;
    border-top: 1px solid #adadad;
    padding: 15px 0;
  }
  .bottom-div label {
    font-size: 18px;
    font-weight: 600;
  }
  .forms-div select{
    width: 100%;
  }
  footer {
    padding: 20px 0px 0px;
  }
  footer h1 {
    margin-bottom: 8px;
    margin-top: 20px;
  }
  .login-page, .contact {
    padding: 20px 0px;
  }
  footer .text-center, footer .text-right{
    text-align: left!important;
  }
.login-reg-panel {
    margin: 30px auto;
    height: 400px;
    width: 100%;
}
  .white-panel {
    background-color: rgba(255,255, 255, 1);
    position: absolute;
    top: 140px;
    width: 90%;
    right: 5%;
    transition: .3s ease-in-out;
    z-index: 0;
    box-shadow: 0 0 15px 9px #00000096;
  }

/*  .register-info-box {
    width: 100%;
    padding: 0 15px;
    top: 25px;
  }*/
  .login-info-box, .register-info-box {
    width: 100%;
    padding: 20px 0 15px;
    top: 25px;
    text-align: center;
    position: unset;
  }
  .white-panel {
    background-color: rgba(255,255, 255, 1);
    position: unset;
    width: 90%;
    transition: .3s ease-in-out;
    z-index: 0;
    box-shadow: 0 0 15px 9px #00000096;
    margin: auto;
    height: auto;
  }
  .login-reg-panel h2 {
    font-size: 24px;
  }
  .right-log {
    right: 5% !important;
  }
  .login-reg-panel #label-login, .login-reg-panel #label-register{
    margin: auto;
  }
}